<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" inherit="DTcms.Web.UI.Page.article" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="12">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}-{1}.aspx" pattern="news/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="aboutus_show" type="detail" page="aboutus_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="aboutus_show.html" channel="aboutus">
    <item path="aboutus/show-{0}.aspx" pattern="aboutus/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="products" type="index" page="products.aspx" inherit="DTcms.Web.UI.Page.article" templet="products.html" channel="products">
    <item path="products.aspx" pattern="products.aspx" />
  </rewrite>
  <rewrite name="products_list" type="list" page="products_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="products_list.html" channel="products" pagesize="20">
    <item path="products/list.aspx" pattern="products/list.aspx" />
    <item path="products/list-{0}.aspx" pattern="products/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="products/list-{0}-{1}.aspx" pattern="products/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="products_show" type="detail" page="products_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="products_show.html" channel="products">
    <item path="products/show-{0}.aspx" pattern="products/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="solution" type="index" page="solution.aspx" inherit="DTcms.Web.UI.Page.article" templet="solution.html" channel="solution">
    <item path="solution.aspx" pattern="solution.aspx" />
  </rewrite>
  <rewrite name="solution_list" type="list" page="solution_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="solution_list.html" channel="solution" pagesize="20">
    <item path="solution/list.aspx" pattern="solution/list.aspx" />
    <item path="solution/list-{0}.aspx" pattern="solution/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="solution/list-{0}-{1}.aspx" pattern="solution/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="solution_show" type="detail" page="solution_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="solution_show.html" channel="solution">
    <item path="solution/show-{0}.aspx" pattern="solution/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="recruitment" type="index" page="recruitment.aspx" inherit="DTcms.Web.UI.Page.article" templet="recruitment.html" channel="recruitment">
    <item path="recruitment.aspx" pattern="recruitment.aspx" />
  </rewrite>
  <rewrite name="recruitment_list" type="list" page="recruitment_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="recruitment_list.html" channel="recruitment" pagesize="20">
    <item path="recruitment/list.aspx" pattern="recruitment/list.aspx" />
    <item path="recruitment/list-{0}.aspx" pattern="recruitment/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="recruitment/list-{0}-{1}.aspx" pattern="recruitment/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="recruitment_show" type="detail" page="recruitment_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="recruitment_show.html" channel="recruitment">
    <item path="recruitment/show-{0}.aspx" pattern="recruitment/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="contactus" type="index" page="contactus.aspx" inherit="DTcms.Web.UI.Page.article" templet="contactus.html" channel="contactus">
    <item path="contactus.aspx" pattern="contactus.aspx" />
  </rewrite>
  <rewrite name="contactus_list" type="list" page="contactus_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="contactus_list.html" channel="contactus" pagesize="20">
    <item path="contactus/list.aspx" pattern="contactus/list.aspx" />
    <item path="contactus/list-{0}.aspx" pattern="contactus/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="contactus/list-{0}-{1}.aspx" pattern="contactus/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="contactus_show" type="detail" page="contactus_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="contactus_show.html" channel="contactus">
    <item path="contactus/show-{0}.aspx" pattern="contactus/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>