{
  "option_settings": [
   {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "LOGGING_PATH",
      "value": "/var/log/situ/log/"
    },
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "SPRING_PROFILES_ACTIVE",
      "value": "gamma-aws-mysql,gamma-auth-azure-msal,auth-azure-msal,ADMIN_ACCESS"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situquery",
      "option_name": "Port",
      "value": "5001"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situquery",
      "option_name": "Protocol",
      "value": "HTTP"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situquery",
      "option_name": "HealthCheckPath",
      "value": "/query/actuator/info"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situui",
      "option_name": "Port",
      "value": "80"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situui",
      "option_name": "Protocol",
      "value": "HTTP"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situquery",
      "option_name": "PathPatterns",
      "value": "/query/*"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situquery",
      "option_name": "Priority",
      "value": "1"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situquery",
      "option_name": "Process",
      "value": "situquery"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situui",
      "option_name": "PathPatterns",
      "value": "/*"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situui",
      "option_name": "Priority",
      "value": "4"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situui",
      "option_name": "Process",
      "value": "situui"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situui",
      "option_name": "HealthCheckPath",
      "value": "/favicon.ico"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situcommand",
      "option_name": "Port",
      "value": "5002"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situcommand",
      "option_name": "Protocol",
      "value": "HTTP"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:process:situcommand",
      "option_name": "HealthCheckPath",
      "value": "/command/actuator/info"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situcommand",
      "option_name": "PathPatterns",
      "value": "/command/*"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situcommand",
      "option_name": "Priority",
      "value": "2"
    },
    {
      "namespace": "aws:elbv2:listenerrule:situcommand",
      "option_name": "Process",
      "value": "situcommand"
    },
    {
      "namespace": "aws:elbv2:listener:443",
      "option_name": "Rules",
      "value": [
        "situcommand",
        "situquery",
        "situui"
      ]
    }
  ]
}