{
  "option_settings": [
          {
            "namespace": "aws:elasticbeanstalk:environment:process:https",
            "option_name": "Port",
            "value": "443"
          },
          {
            "namespace": "aws:elbv2:listener:443",
            "option_name": "DefaultProcess",
            "value": "https"            
          }
  ]
}