files:
   /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          # reverse-proxy
          listen       443    ssl ;
          server_name  alpha-situ-nlb.trafigura.com   alpha-situ-nlb.eu-west-2.elasticbeanstalk.com;
    
          ssl on;
          ssl_certificate /etc/pki/tls/certs/nginx-server.crt;
          ssl_certificate_key /etc/pki/tls/certs/nginx-server.key;
          ssl_client_certificate /etc/pki/tls/certs/ca.pem;
          ssl_verify_client on;
          ssl_session_timeout 5m;
          ssl_verify_depth 2;
       
          ssl_prefer_server_ciphers on;
          ssl_protocols TLSv1.1 TLSv1.2;
          ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK';

          server_tokens off;
          autoindex  off;


                    gzip on;
          gzip_comp_level  6;
          gzip_min_length  512;
          gzip_http_version 1.1;
          gzip_vary  on;
          gzip_buffers 16 8k;
          gzip_disable "MSIE [4-6] \.";
          gzip_types
              text/css
              text/plain
              text/javascript
              application/javascript
              application/json
              application/x-javascript
              application/xml
              application/xml+rss
              application/xhtml+xml
              application/x-font-ttf
              application/x-font-opentype
              application/vnd.ms-fontobject
              image/svg+xml
              image/x-icon
              application/rss+xml
              application/atom_xml;
          

          add_header X-Frame-Options "SAMEORIGIN" always;
          add_header X-XSS-Protection "1; mode=block" always;
          add_header Strict-Transport-Security "max-age=15778476; includeSubdomains; preload" always;
          add_header X-Content-Type-Options "nosniff" always;

          if ($request_method !~ ^(GET|HEAD|POST|OPTIONS|PUT)$) {
              return 444;
          }
          client_body_buffer_size 8k;
          client_max_body_size 2m;
          client_body_in_single_buffer on;
          #client_body_temp_pathtemp_files 1 2;
          client_header_buffer_size  1m;
          large_client_header_buffers 4 8k;

                    set $cors '';
          set $cors_origin '';
          set $cors_methods '';
          set $cors_maxage '';
          set $cors_headers '';
          set $cors_cred '';

          if ($http_origin ~* (^https.*\.trafigura\.com$)) {

              set $cors "true";

              set $cors_origin "$http_origin";
              set $cors_methods "POST, GET, HEAD, OPTIONS, PUT";
              set $cors_maxage "7200";
              set $cors_headers "User-Agent, DNT, If-Modified-Since, Keep-Alive, Cache-Control, Range, Authorization, Content-Type, x-requested-with, Content-Type, Origin, Accept, client-security-token";
              set $cors_cred "true";
          }

          if ($request_method = 'OPTIONS') {
              set $cors "${cors}options";
              rewrite (.*) /returntrueoptions/ last;
          }

          location = /returntrueoptions/ {

              add_header "Access-Control-Allow-Origin" $cors_origin always;
              add_header "Access-Control-Allow-Methods" $cors_methods always;
              add_header "Access-Control-Max-Age" $cors_maxage always;
              add_header "Access-Control-Allow-Headers" $cors_headers always ;
              add_header "Access-Control-Allow-Credentials" $cors_cred always;

              add_header 'Content-Type' 'text/plain charset=UTF-8';
              add_header 'Content-Length' 0;
              return 204;
          }

          location  /query/ {

              add_header "Access-Control-Allow-Origin" $cors_origin always;
              add_header "Access-Control-Allow-Methods" $cors_methods always;
              add_header "Access-Control-Max-Age" $cors_maxage always;
              add_header "Access-Control-Allow-Headers" $cors_headers always ;
              add_header "Access-Control-Allow-Credentials" $cors_cred always;

              proxy_pass      https://internal-alpha-situ.eu-west-2.elasticbeanstalk.com/ppquery/;
              proxy_http_version  1.1;
              proxy_cache_bypass  $http_upgrade;

              proxy_set_header Upgrade           $http_upgrade;
              proxy_set_header Connection        "upgrade";
              proxy_set_header Host              $host;
              proxy_set_header X-Real-IP         $remote_addr;
              proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
              proxy_set_header X-Forwarded-Host  $host;

          }
    
          location /health {
              add_header Content-Length 0;
              add_header Content-Type text/plain;
              return 200;
          }

          location /healthcheck {
              add_header Content-Length 0;
              add_header Content-Type text/plain;
              return 200;
          }

          location / {
             root   /var/www/html/pricingorderssl;
             index  index.html index.htm;
          }
      }
   /etc/pki/tls/certs/nginx-server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN CERTIFICATE-----
       MIIEtTCCA52gAwIBAgIBATANBgkqhkiG9w0BAQsFADCBmzELMAkGA1UEBhMCR0Ix
       DzANBgNVBAgMBkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRYwFAYDVQQKDA1UcmFm
       aWd1cmEgTHRkMQswCQYDVQQLDAJJVDETMBEGA1UEAwwKQ2VydEF1dGhDTjEwMC4G
       CSqGSIb3DQEJARYhbmFyYXlhbmFuLnZlZXJhc2FteUB0cmFmaWd1cmEuY29tMB4X
       DTIwMDYyMDE5NTM1OFoXDTIxMDYyMDE5NTM1OFowgb8xCzAJBgNVBAYTAkdCMQ8w
       DQYDVQQIDAZMb25kb24xDzANBgNVBAcMBkxvbmRvbjEWMBQGA1UECgwNVHJhZmln
       dXJhIEx0ZDELMAkGA1UECwwCSVQxNzA1BgNVBAMMLmJ1bmtlcnJlcG9ydGluZy51
       cy1lYXN0LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xMDAuBgkqhkiG9w0BCQEWIW5h
       cmF5YW5hbi52ZWVyYXNhbXlAdHJhZmlndXJhLmNvbTCCASIwDQYJKoZIhvcNAQEB
       BQADggEPADCCAQoCggEBAO1cvmJ3MRYkvUB5i8GH56NwBtTEoQJVN/kb12nzYEqD
       N70uiMuhCGJw3meO3B6mUDHXSqaXNhMCBwA+rtXZnvlNMoYSF32FWSc9WPtCyw1v
       hgL8a+jzU3W7dN3zcLgc8VUv+DUP3Ku4I28tcgOH3Ae0Eh+MpFO8etprxIZBFXG7
       IljuK5Lq+cVzI//lyt/JQH1Q3RlIsT1ZbEXtjMpiLFR+D18WnoFUEkuqUV38nWPI
       wXGo8wVOiDd0ZlCXBf22Qo2u55ddccvSifef/j4jt7y79qhWzKtBVbMyO2KuZ/Gl
       Uy7kouRzqJdmrvsk6kAGUTqzCAtNeT2AJY6gLrv0CkcCAwEAAaOB3TCB2jALBgNV
       HQ8EBAMCAzgwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMIGrBgNVHREE
       gaMwgaCCOGFscGhhLWJ1bmtlcnJlcG9ydGluZy1ubGIudXMtZWFzdC0xLmVsYXN0
       aWNiZWFuc3RhbGsuY29tgjRhbHBoYS1idW5rZXJyZXBvcnRpbmcudXMtZWFzdC0x
       LmVsYXN0aWNiZWFuc3RhbGsuY29tgi5idW5rZXJyZXBvcnRpbmcudXMtZWFzdC0x
       LmVsYXN0aWNiZWFuc3RhbGsuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQCQC6mc7ky/
       v6Vzo9YlxcjsOLPUf0m46y/MEwvBqffyKZseth84dLMLH0Y1ab+5Px3OJUSXU2U2
       qMY+0P0CXagstRcRdNBmh+Uh1CxzLt9Mj3tSsOpiyxzFbn1UAGpS3qw1blr0LHZi
       lUYszX5pVv6o6TiGI79H2bxWFRjbVsjp74T7cQ/4eJoeGNNERvPx98zatKVSYHfa
       bc9EpBdpcsef/ANmsX4iNR+B5GrhUuJr/fsq6nzuWZ6Qe1yNfIciGqyhYJkeMpDC
       tJ6lzHKooHAy9jQYVg2CEZJf3fbYVZQeZi7JCKIMn45D2fUr0W3wino3Wdfi93gF
       mXdsN7F4jbYb	
       -----END CERTIFICATE-----	  
   /etc/pki/tls/certs/nginx-server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN RSA PRIVATE KEY-----
       MIIEpQIBAAKCAQEA7Vy+YncxFiS9QHmLwYfno3AG1MShAlU3+RvXafNgSoM3vS6I
       y6EIYnDeZ47cHqZQMddKppc2EwIHAD6u1dme+U0yhhIXfYVZJz1Y+0LLDW+GAvxr
       6PNTdbt03fNwuBzxVS/4NQ/cq7gjby1yA4fcB7QSH4ykU7x62mvEhkEVcbsiWO4r
       kur5xXMj/+XK38lAfVDdGUixPVlsRe2MymIsVH4PXxaegVQSS6pRXfydY8jBcajz
       BU6IN3RmUJcF/bZCja7nl11xy9KJ95/+PiO3vLv2qFbMq0FVszI7Yq5n8aVTLuSi
       5HOol2au+yTqQAZROrMIC015PYAljqAuu/QKRwIDAQABAoIBACbjJ+nX3znigQL8
       JtJpIqEbLHNVV4+bSJVOY2dfUSpD/zDGW/EIi+gc18Mdm6CF3OOdgwRyB5Drpxv6
       KQiuI6ZyaFGgyypsW2PbYCWiFsQ3vjvlAQTkQIssUARA6vmu/DbZqg9/bsbPXzbK
       ukAr1PeKH+H9V7rESVhZiZP5O7sq/bEYhhovdA2vLhK2aOTbocB/5KmcqbmLJXko
       DUMfUQ3xNHoa0/CNRaZFEVx7l9cjRge3DevIJ3O/sYmno3R7NknzMHN7/xnrRMGr
       RJoleK+yJEmdwA4jA5Yxzcn/P4tFzid2e2I5Bxpl+/INIJqguDMLCg/J3em5wiZi
       PM++fYECgYEA/kXpNJzhimBv2GGX2UOJGiIAUa+yuGu9Hq2oxsnbvBAt0GOcjgWV
       RwWkq3AOnwOcbpS5hU+U7VAJphl2Sow89fplSon+CPCqJLA2Zpj4c+Vx6MoMfL49
       wbphM7V9eTpJfAjP17IxNdM7aotkCI9h/vkHTjd+64kq5V97wXWpVocCgYEA7vlu
       Ujz60FYItqa1nyG72wKm2gKTxTfT4VdhQW6X71e9OK4x8Fur9BRXJs91rN0VMTKB
       SJcuPQmIVTl10xGP7nCuJiHXzTx5qNnUl6Kj0XB1nYbhuMPoSNy4bLQCYOMN41+r
       lEUDl0iEq2ml4D3Oq5PHmHm05+M3PFF3d3S03kECgYEA7VRvkO4FDdVpT3v38ZA5
       vaySw6vMkpntEV9hsvniIKyxNlpjW6QWaw33XxTecMk8D3K9npJjHQWhm+kUIgy3
       MZgfRu15sPqAtHHMtQJ+lB5Krc84zI38sn+2Dj+N98LRp/XJmTf2+phIUu/71ImQ
       HB5wFS9zRYDoCuOObUnXXq0CgYEA1Sd217O8pAeZThH0/jPAs+DxopOZ6teZDe46
       uXpD2yCPjvcRZCrgfZ2G/v8dH0szk+ZQmsb+X0MZb6sJBXMsxqmLLEgTjOTcP1fM
       4FQZer6sqg2dWIilsBfwCEWnuXPM93pmOKI2ScJNU/ewFQwMQ85UwhQM4Kkyo4Km
       5M4cZgECgYEA2vwa6SAYWHZWsKuN8PX405tiRi1BrzaFrZktzV0WuftVnJQEFDCy
       rq4WxSNHf3HrikU+wSzdbK13Cc+JASUmFP5X5tjGDnDylOvsa20wS1kVKtIwGl7j
       mGTTzJry3jR6EBxAxIK/6VkM9FZREVrjbgSMpd9IF2XzJt66S8rPoMk=
       -----END RSA PRIVATE KEY-----
   /etc/pki/tls/certs/ca.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN CERTIFICATE-----
       MIIDvzCCAqcCFH9AhlFMmQNs2zpxBQ3b3AnuCyfoMA0GCSqGSIb3DQEBCwUAMIGb
       MQswCQYDVQQGEwJHQjEPMA0GA1UECAwGTG9uZG9uMQ8wDQYDVQQHDAZMb25kb24x
       FjAUBgNVBAoMDVRyYWZpZ3VyYSBMdGQxCzAJBgNVBAsMAklUMRMwEQYDVQQDDApD
       ZXJ0QXV0aENOMTAwLgYJKoZIhvcNAQkBFiFuYXJheWFuYW4udmVlcmFzYW15QHRy
       YWZpZ3VyYS5jb20wHhcNMjAwNjIwMTUyMzU0WhcNMzAwNjE4MTUyMzU0WjCBmzEL
       MAkGA1UEBhMCR0IxDzANBgNVBAgMBkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRYw
       FAYDVQQKDA1UcmFmaWd1cmEgTHRkMQswCQYDVQQLDAJJVDETMBEGA1UEAwwKQ2Vy
       dEF1dGhDTjEwMC4GCSqGSIb3DQEJARYhbmFyYXlhbmFuLnZlZXJhc2FteUB0cmFm
       aWd1cmEuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr6ngCD/l
       k7Wh6djgYpUYbO/xw7ESsyqe9tgUAjTTOcxPKv8YfHlQ61F4Zs24YtbgHegFtHVt
       xIIFxo0Uvaopd9IYjPN4VvYXVkDsntImwuCPZ0j8058ZkBCSp50mOtwuOXyJrjXI
       sn06qv9HiSpqLSbUz3KcZtrqlgvV82STmuySkYibz0av71fVEDkXhHclpr+0e93Z
       90yyzvuJzyfJlJtfZa7ieRJGw8ywVsNkBaPIRDFk0yt+w0cIuK9/00kns7s8AywB
       h40M4pS4sswvXr2G6KHDmbohIMqQ+dBbsuJHWIcPYBWDKfbIU2Kq6pR1iuQ3HZiX
       RQOXs9yGMAGWJwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAZNKZdeE+L5x8+cG5Z
       I0uYXKgnwa2mslr7KxxOT9M5tU2HR1yEZ2s1QUMvTENLnlJDaqTtTFDnjtQWQF08
       NCQkgQurU+i6KNe7pYuHE+W2mXgZ7opSnZ1I7IxUEzvstl6anGqz+HhwDvBOTi/s
       SUegOmTo1u08/7PeUY/WPPRlw9OLCwiQc7E5cgrrkI8x7kbbrCRpaAoMsS6pSZ7M
       1bbtddiN+nsAxvejMYiVrtmuoK4yfcVyA6z+2mfL6vukP2ow6FXbPnYTMMCe/OKc
       CDQAHFrlZj65rHNYHCnGhOIkyo+co5/kIsEo/GRgaJTdEYmjm5Ek9r7BNDaGqlyU
       lr0A
       -----END CERTIFICATE-----