{
  "option_settings": [
    	  {
            "namespace": "aws:elasticbeanstalk:environment:process:default",
            "option_name": "HealthCheckPath",
            "value": "/health"
          },
          {
            "namespace": "aws:elasticbeanstalk:environment:process:situroute",
            "option_name": "Port",
            "value": "80"
          },
          {
            "namespace": "aws:elasticbeanstalk:environment:process:situroute",
            "option_name": "Protocol",
            "value": "HTTP"
          },
          {
            "namespace": "aws:elasticbeanstalk:environment:process:situroute",
            "option_name": "HealthCheckPath",
            "value": "/health"
          },
          {
            "namespace": "aws:elbv2:listenerrule:situroute",
            "option_name": "PathPatterns",
            "value": "/*"
          },
          {
            "namespace": "aws:elbv2:listenerrule:situroute",
            "option_name": "Priority",
            "value": "1"
          },
          {
            "namespace": "aws:elbv2:listenerrule:situroute",
            "option_name": "Process",
            "value": "situroute"
          },
          {
            "namespace": "aws:elbv2:listener:443",
            "option_name": "Rules",
            "value": ["situroute"]
          }
  ]
}