files:
   /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        server {
            # reverse-proxy
            listen       80;
            server_name  alpha-trafsrv-situ.eu-west-2.elasticbeanstalk.com;
            
            access_log  /var/log/nginx/traf_resolv_access.log;
            error_log  /var/log/nginx/traf_resolv_error.log;

            server_tokens off;
            autoindex  off;

                        gzip on;
            gzip_comp_level  6;
            gzip_min_length  512;
            gzip_http_version 1.1;
            gzip_vary  on;
            gzip_buffers 16 8k;
            gzip_disable "MSIE [4-6] \.";
            gzip_types
               text/css
               text/plain
               text/javascript
               application/javascript
               application/json
               application/x-javascript
               application/xml
               application/xml+rss
               application/xhtml+xml
               application/x-font-ttf
               application/x-font-opentype
               application/vnd.ms-fontobject
               image/svg+xml
               image/x-icon
               application/rss+xml
               application/atom_xml;
            

            add_header X-Frame-Options "SAMEORIGIN" always;
            add_header X-XSS-Protection "1; mode=block" always;
            add_header Strict-Transport-Security "max-age=15778476; includeSubdomains; preload" always;
            add_header X-Content-Type-Options "nosniff" always;
        
            if ($request_method !~ ^(GET|HEAD|POST|OPTIONS|PUT)$) {
                return 444;
            }
            client_body_buffer_size 8k;
            client_max_body_size 2m;
            client_body_in_single_buffer on;
            #client_body_temp_pathtemp_files 1 2;
            client_header_buffer_size  1m;
            large_client_header_buffers 4 8k;
        
                        set $cors '';
            set $cors_origin '';
            set $cors_methods '';
            set $cors_maxage '';
            set $cors_headers '';
            set $cors_cred '';

            if ($http_origin ~* (^https.*\.trafigura\.com$)) {

                set $cors "true";
        
                set $cors_origin "$http_origin";
                set $cors_methods "POST, GET, HEAD, OPTIONS, PUT";
                set $cors_maxage "7200";
                set $cors_headers "User-Agent, DNT, If-Modified-Since, Keep-Alive, Cache-Control, Range, Authorization, Content-Type, x-requested-with, Content-Type, Origin, Accept, client-security-token";
                set $cors_cred "true";
            }
        
            if ($request_method = 'OPTIONS') {
                set $cors "${cors}options";
                rewrite (.*) /returntrueoptions/ last;
            }
        
            location = /returntrueoptions/ {
        
                add_header "Access-Control-Allow-Origin" $cors_origin always;
                add_header "Access-Control-Allow-Methods" $cors_methods always;
                add_header "Access-Control-Max-Age" $cors_maxage always;
                add_header "Access-Control-Allow-Headers" $cors_headers always ;
                add_header "Access-Control-Allow-Credentials" $cors_cred always;

                add_header 'Content-Type' 'text/plain charset=UTF-8';
                add_header 'Content-Length' 0;
                return 204;
            }
    
            resolver 172.20.3.27 172.20.3.35 172.21.3.24 169.254.169.253;
            resolver_timeout 10s;  

            
            location /alpha/oracle/apigw/ {
                add_header "Access-Control-Allow-Origin" $cors_origin always;
                add_header "Access-Control-Allow-Methods" $cors_methods always;
                add_header "Access-Control-Max-Age" $cors_maxage always;
                add_header "Access-Control-Allow-Headers" $cors_headers always ;
                add_header "Access-Control-Allow-Credentials" $cors_cred always;

                set $upstream_command_endpoint https://alpha-apigw-tibpluto-concentrates.global.trafigura.com;
                
                #rewrite ^/dbct/tibco/(.*) /$1 break;
        
                proxy_pass      $upstream_command_endpoint;
        
                proxy_http_version  1.1;
                proxy_cache_bypass  $http_upgrade;
                
                proxy_ssl_verify       off;
                proxy_ssl_certificate     /etc/pki/tls/certs/client-cert.pem;
                proxy_ssl_certificate_key /etc/pki/tls/certs/client-key.pem;
                proxy_ssl_trusted_certificate /etc/pki/tls/certs/client-ca-cert.pem;
                proxy_ssl_name $proxy_host;
                proxy_ssl_server_name on;
                
                proxy_set_header Upgrade           $http_upgrade;
                proxy_set_header Connection        "upgrade";
                proxy_set_header Host              $proxy_host;
                proxy_set_header X-Real-IP         $remote_addr;
                proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Host  $host;
            }

            location /health {
                add_header Content-Length 0;
                add_header Content-Type text/plain;
                return 200;
            }

            location /healthcheck {
                add_header Content-Length 0;
                add_header Content-Type text/plain;
                return 200;
            }

        }
   /etc/pki/tls/certs/client-cert.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN CERTIFICATE-----
       MIID4zCCAssCCQCRBTZSVJPgUjANBgkqhkiG9w0BAQsFADCBwTELMAkGA1UEBhMC
       R0IxDzANBgNVBAgMBkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRYwFAYDVQQKDA1U
       cmFmaWd1cmEgTHRkMRMwEQYDVQQLDApUcmFkaW5nIElUMT8wPQYDVQQDDDZhbHBo
       YS1hcGlndy10aWJwbHV0by1jb25jZW50cmF0ZXMuZ2xvYmFsLnRyYWZpZ3VyYS5j
       b20xIjAgBgkqhkiG9w0BCQEWE2FkbWluQHRyYWZpZ3VyYS5jb20wHhcNMjEwNDI5
       MTA1ODMxWhcNMjQwNDI4MTA1ODMxWjCBpDELMAkGA1UEBhMCR0IxDzANBgNVBAgM
       BkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMREwDwYDVQQKDAhUcmFmIEx0ZDELMAkG
       A1UECwwCSVQxLzAtBgNVBAMMJmFwaWd3LWFscGhhLWNvbmNlbnRyYXRlcy50cmFm
       aWd1cmEuY29tMSIwIAYJKoZIhvcNAQkBFhNhZG1pbkB0cmFmaWd1cmEuY29tMIIB
       IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtfVaRqEaQSy6M2qQ4D0wWKj3
       2i9nO/Qb4z6YGVKN1VZ9rJO4iatCNoHvIKVZsV+2KiddOlqlkiybJY8mSaVAbT4M
       kCgqXNL26Q648qFDdm4vCc72GpiCxSLikzM8JHvwhphuxSpnIME37l/PewK2YQMp
       EUIAroRZu8ZENCuG8vG57JgyWcYFzrSKIbAQUn1X0twN6rdzvccgNhe5+ZoYeKva
       FKgdniVZaS28y8Y9nbQ7r0WzAYCbP/EVxcSa4J+rvlskIQwsf+DQFJTL8J3IeyCk
       DotH7WJUc5ULhjBDLpRacMKFq9qREiJSBBUMdVFPC587Zk7ji9rsyjC0YPDVawID
       AQABMA0GCSqGSIb3DQEBCwUAA4IBAQBcDFn9+g5smRLjyzDlPlgugigUmb3FiYEE
       i+KdnALY3jI0QR8GHM7gvN9QIVlMbHLO63prHR6INjhIydBFdtmnqyqBJu2YeQDD
       dXkjcg1Yc8rhc3qaOiuLnQVpLA4++LMDg+8C33ZjYM6tKP6cQDP4V9ogfTpsnIjq
       /KWlM6KNTmpeg2RI931aiy5Cvkiubqy3AsHmdJ4ZtvvGNtK+fw8leKGaIhV77oib
       pfhAVjAujTtKEFQpRG6rq91yyi+ZviQbeNSZvpw+Dg7bNNyVCPsMwdg1Qo/R/9XX
       YPJBisWvp4cLLLdEg0qnuVSX7Jbs14sDlU56mSFcqNku2bD2Ahls
       -----END CERTIFICATE-----
   /etc/pki/tls/certs/client-ca-cert.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN CERTIFICATE-----
       MIIEADCCAugCCQDYRdTqtWG99zANBgkqhkiG9w0BAQsFADCBwTELMAkGA1UEBhMC
       R0IxDzANBgNVBAgMBkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRYwFAYDVQQKDA1U
       cmFmaWd1cmEgTHRkMRMwEQYDVQQLDApUcmFkaW5nIElUMT8wPQYDVQQDDDZhbHBo
       YS1hcGlndy10aWJwbHV0by1jb25jZW50cmF0ZXMuZ2xvYmFsLnRyYWZpZ3VyYS5j
       b20xIjAgBgkqhkiG9w0BCQEWE2FkbWluQHRyYWZpZ3VyYS5jb20wHhcNMjEwNDI5
       MTAwODQ3WhcNMjQwNDI4MTAwODQ3WjCBwTELMAkGA1UEBhMCR0IxDzANBgNVBAgM
       BkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRYwFAYDVQQKDA1UcmFmaWd1cmEgTHRk
       MRMwEQYDVQQLDApUcmFkaW5nIElUMT8wPQYDVQQDDDZhbHBoYS1hcGlndy10aWJw
       bHV0by1jb25jZW50cmF0ZXMuZ2xvYmFsLnRyYWZpZ3VyYS5jb20xIjAgBgkqhkiG
       9w0BCQEWE2FkbWluQHRyYWZpZ3VyYS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IB
       DwAwggEKAoIBAQDWBYsEcLQrkKfuUJohjqoqJPBNDA8EWZDfDTNxDEc8U3kR87Gg
       oWTCoLjcd7eAqHXDx6aZZzK+VROFQ43s3VskpggnTuRDM+ccaT83EeI0x8cOgSL5
       GXxFy91odLfmedkobbQ48d7rGeyWaanWDBrDO4dq3hTb7geMx1bonC+dmL1/IF0n
       wavQmYYLWWQWBeNs4FhXfrijNipF498OPMpIt230UaLPoQ7rgaccYU5h5Hgt9qyq
       g3x5OWN9s4JWYsUC+5zZ4iWyQG6/vCxSmj+amEx8KrRxYA1aCXEXdSlgrPoF+JQ7
       oZTAVolSm9GZgAPV5NOejTHkHHfhJPM4CQeBAgMBAAEwDQYJKoZIhvcNAQELBQAD
       ggEBABeoMbHKfAN2P+7RTdoigD0U/GmHlmdQGWrwgc2k8siuPu4SLvWic/YCoAo5
       2AG9Ejf776h5frf7enSbDgOdHSoqyo6MgSYpWpadPAixkCiHZ9O7HDkq3Ou28eDW
       BGpW1yDyiqARghzGzb70w3WL5uXmpF4kXOJtP9goeBjRxf/HR/y+ucR71ik99eFo
       CdeT7AUiaj/sIt6iP3YyMtyN7+/3P4SAeloJRL4aUsFX92ckJLj7EJbxqPofzPpx
       /mGZW9xXKt7cD+jdtZU92YYA3sjMsvUfNSPQtXRvGmWoJN2UvkituvYr3iDuX0J3
       F//dLa51kQNTlHsMpKaIoZ9TFaw=
       -----END CERTIFICATE-----
   /etc/pki/tls/certs/client-key.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN RSA PRIVATE KEY-----
       MIIEpAIBAAKCAQEAtfVaRqEaQSy6M2qQ4D0wWKj32i9nO/Qb4z6YGVKN1VZ9rJO4
       iatCNoHvIKVZsV+2KiddOlqlkiybJY8mSaVAbT4MkCgqXNL26Q648qFDdm4vCc72
       GpiCxSLikzM8JHvwhphuxSpnIME37l/PewK2YQMpEUIAroRZu8ZENCuG8vG57Jgy
       WcYFzrSKIbAQUn1X0twN6rdzvccgNhe5+ZoYeKvaFKgdniVZaS28y8Y9nbQ7r0Wz
       AYCbP/EVxcSa4J+rvlskIQwsf+DQFJTL8J3IeyCkDotH7WJUc5ULhjBDLpRacMKF
       q9qREiJSBBUMdVFPC587Zk7ji9rsyjC0YPDVawIDAQABAoIBAQCbpLrK7aVimJrR
       vlccqNqBDE+uf5vjqcRtFq7OAlK2aRxpEZbpk+e4bl6Y4zecxM0ys6dIch9ssOEp
       OJC8sDEzAL+IVAMgkYiJBIHpcU4esNNlpXXYfBpn/JYo6cuJPccZqqwd1U6Psxdf
       vO7iPwi4ZRas33Nr1GRZfZf7tDvj9LTdd5/gqVafZEqUFC+3xZT5G4PN9gF6EQqq
       2Dc8TKXux9A0WK1gVtayG06fxcq/rWbTTzuF0u7nmJZ5gWvkAMF6P8meKEgC7Zfx
       chgU/f3AY+8Bxct7SdfRBmi35efYMzLOx4LTeYmdX4GbSOdM8iFvUD42oai5bQRC
       0VRdGoV5AoGBAOqIs+lGyC+hilPAtxUgn7OuxtNrWEZACvFGVHC3yi0zd2Pk2qNT
       wR6gzHcSaPj9Zn2rUYgHcU/I+3qDODD4sKpqZvznS+wFSj1oAwtqYmQBKi+FTNkx
       MkUGZL09SyPSNXNpOkHGUBNtk6a+k3ISyskfIkaHl9wmgjNbfG0uP459AoGBAMac
       xEfwu1c/n6EhhBTRehE3TTTdXzUpqUre/9NQDSpaBCNGRVyfBznJlxF+zNUs/ch1
       6wM4NZZMzFLtyuRwqhC5/4ZTXZgJyQ/i0ObBc5l+O+OJyJzYB2c3PNZ4ELie3p30
       WwjgtAmXfd0tLElu4XqybyY0JwKF3dxmWDgGlrAHAoGBAOAjVQ0TgC1FDJWOD2o5
       i2aFGa7jX7GDcvGybPBsNOON1AO7qtd8K4vB0KXbCkcqpNBk8b42nqvJP8yNqx3i
       DbRPi60WvxAI3jJhPMekG/PGyTIxCohm48vjmFLiSPUq57osTmidxdlLV1h7uR3D
       p9kdz/vnidHzW2sJe5g8IrFhAoGAFnvKsIYs/wyByqDbreuk0Owcvl5NF9yWgJZM
       CaTnSKMWEtQyp/CMxdrvUhizoXJNbHME3sFvN4uMGds3e7LRXcFgjtlDICIDc9vu
       YCEIMBkdOH3xiufdtq6HIZRH+E5rzx/JanDdkLRomDAz8kAuIFCwynde7ycuXXPs
       irMcPeMCgYAwWpny5+9qaACNbRIa104eO4/6lcgW5u7RDaGVDouv5I/aM4wXEgWL
       8vTopyWilkhdxr/zIGetAYI9VMTm7PpEjfmNymzLiDwLLw7iqm49BuTDINp/XF5q
       FfxZOd4reYBLBNqJC9P4SR2njx5ncYXzGgC0f+L34S3vkzsWGpKXkA==
       -----END RSA PRIVATE KEY-----