files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_revoke_allow_all_tcp_sec_rule.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      aws configure set region eu-west-2
      aws configure set output text
      SECURITY_GROUP_ID=$(aws ec2 describe-security-groups --filters Name=tag-key,Values='InternalOrExternal' Name=tag-value,Values='Internal' Name=tag-key,Values='Name' Name=tag-value,Values='situ-TrafSrv-Alpha-Internal' Name=tag-key,Values='application' Name=tag-value,Values='situ' Name=tag-key,Values='EnvironmentGroup' Name=tag-value,Values='alpha' Name=tag-key,Values='elasticbeanstalk:environment-name' Name=tag-value,Values='situ-TrafSrv-Alpha-Internal' Name=tag-key,Values='aws:cloudformation:logical-id' Name=tag-value,Values='AWSEBSecurityGroup' --query 'SecurityGroups[*].{Name:GroupId}')
      aws ec2 revoke-security-group-egress --group-id $SECURITY_GROUP_ID  --protocol all  --cidr 0.0.0.0/0 || true
      aws configure set output json