<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/sys.config"/>
    <add key="Urlspath" value="~/xmlconfig/urls.config"/>
    <add key="Userpath" value="~/xmlconfig/user.config"/>
    <add key="Orderpath" value="~/xmlconfig/order.config"/>
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=219.235.0.112,1433;uid=sq_beidou123;pwd=sq_beidou123123456;database=sq_beidou456;"/>-->
    <add name="ConnectionString" connectionString="server=lvyan.tpddns.cn,12433;uid=gather17beidoutest;pwd=Gather17;database=gather17bei_doutest;"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <httpModules>
      <add type="CMS.UI.HttpModule, DTcms.Web.UI" name="HttpModule"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="templates/main/*.html" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
    <!-- 文件上传大小KB-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="36000"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DTcms.Web.UI.HttpModule, CMS.UI" name="HttpModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 9CC47411-6931-4106-8A34-FB46D26AA8D1-->